<?xml version="1.0" encoding="UTF-8"?>
<kb-project>
 <depends-on-projects/>
 <used-by-projects/>
 <paths>
  <path value="C:/Users/yansheesharma1/.m2/repository/io/smallrye/jandex/3.0.5/jandex-3.0.5.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/io/micrometer/micrometer-observation/1.11.0/micrometer-observation-1.11.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/fasterxml/jackson/core/jackson-databind/2.15.0/jackson-databind-2.15.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/net/bytebuddy/byte-buddy-agent/1.14.4/byte-buddy-agent-1.14.4.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/hibernate/orm/hibernate-core/6.2.2.Final/hibernate-core-6.2.2.Final.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-context/6.0.9/spring-context-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/yaml/snakeyaml/1.33/snakeyaml-1.33.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-aspects/6.0.9/spring-aspects-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/ch/qos/logback/logback-classic/1.4.7/logback-classic-1.4.7.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/sun/istack/istack-commons-runtime/4.1.1/istack-commons-runtime-4.1.1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/security/spring-security-test/6.1.0/spring-security-test-6.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/hamcrest/hamcrest/2.2/hamcrest-2.2.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/apache/logging/log4j/log4j-api/2.20.0/log4j-api-2.20.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/hibernate/validator/hibernate-validator/8.0.0.Final/hibernate-validator-8.0.0.Final.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/data/spring-data-jpa/3.1.0/spring-data-jpa-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-expression/6.0.9/spring-expression-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/net/minidev/accessors-smart/2.4.9/accessors-smart-2.4.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/glassfish/jaxb/txw2/4.0.2/txw2-4.0.2.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/apache/logging/log4j/log4j-to-slf4j/2.20.0/log4j-to-slf4j-2.20.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/junit/jupiter/junit-jupiter-engine/5.9.3/junit-jupiter-engine-5.9.3.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter-security/3.1.0/spring-boot-starter-security-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/net/minidev/json-smart/2.4.10/json-smart-2.4.10.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-context-support/6.0.9/spring-context-support-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter-logging/3.1.0/spring-boot-starter-logging-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/hibernate/common/hibernate-commons-annotations/6.0.6.Final/hibernate-commons-annotations-6.0.6.Final.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-test/3.1.0/spring-boot-test-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/junit/jupiter/junit-jupiter-api/5.9.3/junit-jupiter-api-5.9.3.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/apache/tomcat/embed/tomcat-embed-websocket/10.1.8/tomcat-embed-websocket-10.1.8.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-web/6.0.9/spring-web-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/io/jsonwebtoken/jjwt-api/0.11.5/jjwt-api-0.11.5.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-autoconfigure/3.1.0/spring-boot-autoconfigure-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-jdbc/6.0.9/spring-jdbc-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/security/spring-security-crypto/6.1.0/spring-security-crypto-6.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-tx/6.0.9/spring-tx-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-jcl/6.0.9/spring-jcl-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter-test/3.1.0/spring-boot-starter-test-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/zaxxer/HikariCP/5.0.1/HikariCP-5.0.1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/fasterxml/jackson/datatype/jackson-datatype-jsr310/2.15.0/jackson-datatype-jsr310-2.15.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/glassfish/jaxb/jaxb-core/4.0.2/jaxb-core-4.0.2.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/fasterxml/jackson/core/jackson-core/2.15.0/jackson-core-2.15.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/mysql/mysql-connector-j/8.0.33/mysql-connector-j-8.0.33.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/vaadin/external/google/android-json/0.0.20131108.vaadin1/android-json-0.0.20131108.vaadin1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/jakarta/transaction/jakarta.transaction-api/2.0.1/jakarta.transaction-api-2.0.1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/slf4j/slf4j-api/2.0.7/slf4j-api-2.0.7.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-test-autoconfigure/3.1.0/spring-boot-test-autoconfigure-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-beans/6.0.9/spring-beans-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/objenesis/objenesis/3.3/objenesis-3.3.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/apache/tomcat/embed/tomcat-embed-core/10.1.8/tomcat-embed-core-10.1.8.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter-data-jpa/3.1.0/spring-boot-starter-data-jpa-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-test/6.0.9/spring-test-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot/3.1.0/spring-boot-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/fasterxml/jackson/module/jackson-module-parameter-names/2.15.0/jackson-module-parameter-names-2.15.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter-tomcat/3.1.0/spring-boot-starter-tomcat-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/apache/tomcat/embed/tomcat-embed-el/10.1.8/tomcat-embed-el-10.1.8.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-core/6.0.9/spring-core-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/jakarta/xml/bind/jakarta.xml.bind-api/4.0.0/jakarta.xml.bind-api-4.0.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/slf4j/jul-to-slf4j/2.0.7/jul-to-slf4j-2.0.7.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/ch/qos/logback/logback-core/1.4.7/logback-core-1.4.7.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/security/spring-security-web/6.1.0/spring-security-web-6.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter-mail/3.1.0/spring-boot-starter-mail-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/jboss/logging/jboss-logging/3.5.0.Final/jboss-logging-3.5.0.Final.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter-validation/3.1.0/spring-boot-starter-validation-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter-web/3.1.0/spring-boot-starter-web-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/eclipse/angus/angus-activation/2.0.0/angus-activation-2.0.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/aspectj/aspectjweaver/1.9.19/aspectjweaver-1.9.19.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/ow2/asm/asm/9.3/asm-9.3.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter-jdbc/3.1.0/spring-boot-starter-jdbc-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/security/spring-security-config/6.1.0/spring-security-config-6.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/mockito/mockito-junit-jupiter/5.3.1/mockito-junit-jupiter-5.3.1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/opentest4j/opentest4j/1.2.0/opentest4j-1.2.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/junit/platform/junit-platform-engine/1.9.3/junit-platform-engine-1.9.3.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/junit/jupiter/junit-jupiter/5.9.3/junit-jupiter-5.9.3.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/net/bytebuddy/byte-buddy/1.14.4/byte-buddy-1.14.4.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/security/spring-security-core/6.1.0/spring-security-core-6.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/fasterxml/classmate/1.5.1/classmate-1.5.1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/io/jsonwebtoken/jjwt-impl/0.11.5/jjwt-impl-0.11.5.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/xmlunit/xmlunit-core/2.9.1/xmlunit-core-2.9.1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/jakarta/activation/jakarta.activation-api/2.1.2/jakarta.activation-api-2.1.2.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/glassfish/jaxb/jaxb-runtime/4.0.2/jaxb-runtime-4.0.2.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-aop/6.0.9/spring-aop-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/jakarta/persistence/jakarta.persistence-api/3.1.0/jakarta.persistence-api-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/junit/platform/junit-platform-commons/1.9.3/junit-platform-commons-1.9.3.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter-json/3.1.0/spring-boot-starter-json-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/apiguardian/apiguardian-api/1.1.2/apiguardian-api-1.1.2.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/assertj/assertj-core/3.24.2/assertj-core-3.24.2.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/fasterxml/jackson/datatype/jackson-datatype-jdk8/2.15.0/jackson-datatype-jdk8-2.15.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/eclipse/angus/jakarta.mail/1.1.0/jakarta.mail-1.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/skyscreamer/jsonassert/1.5.1/jsonassert-1.5.1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-webmvc/6.0.9/spring-webmvc-6.0.9.jar">
   <libraries>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-spring-webmvc-6.0.9.jar/meta-inf/spring-form.tld" project="LoginRegister"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-spring-webmvc-6.0.9.jar/meta-inf/spring.tld" project="LoginRegister"/>
    </library>
   </libraries>
  </path>
  <path value="C:/Users/yansheesharma1/.m2/repository/io/jsonwebtoken/jjwt-jackson/0.11.5/jjwt-jackson-0.11.5.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter-aop/3.1.0/spring-boot-starter-aop-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/junit/jupiter/junit-jupiter-params/5.9.3/junit-jupiter-params-5.9.3.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/fasterxml/jackson/core/jackson-annotations/2.15.0/jackson-annotations-2.15.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/mockito/mockito-core/5.3.1/mockito-core-5.3.1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/spring-orm/6.0.9/spring-orm-6.0.9.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/jakarta/annotation/jakarta.annotation-api/2.1.1/jakarta.annotation-api-2.1.1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/antlr/antlr4-runtime/4.10.1/antlr4-runtime-4.10.1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/io/micrometer/micrometer-commons/1.11.0/micrometer-commons-1.11.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/com/jayway/jsonpath/json-path/2.8.0/json-path-2.8.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/jakarta/inject/jakarta.inject-api/2.0.1/jakarta.inject-api-2.0.1.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/data/spring-data-commons/3.1.0/spring-data-commons-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/org/springframework/boot/spring-boot-starter/3.1.0/spring-boot-starter-3.1.0.jar"/>
  <path value="C:/Users/yansheesharma1/.m2/repository/jakarta/validation/jakarta.validation-api/3.0.2/jakarta.validation-api-3.0.2.jar"/>
 </paths>
 <validation>
  <el>
   <linked-el length="25" name="%0" offset="584" path="%1"/>
   <linked-el length="33" name="%2" offset="862" path="%3"/>
   <linked-el length="25" name="%4" offset="584" path="%1"/>
   <linked-el length="25" name="%5" offset="584" path="%1"/>
   <linked-el length="27" name="%6" offset="795" path="%3"/>
   <linked-el length="33" name="%6" offset="862" path="%3"/>
   <linked-el length="27" name="%7" offset="795" path="%3"/>
   <linked-el length="33" name="%7" offset="862" path="%3"/>
   <linked-el length="27" name="%8" offset="795" path="%3"/>
  </el>
 </validation>
 <aliases>
  <alias path="spring" value="%0"/>
  <alias
   path="/spring-boot-login-example/src/main/java/com/bezkoder/spring/login/security/services/EmailServiceImpl.java" value="%1"/>
  <alias path="bezkoder.app.jwtExpirationMs" value="%2"/>
  <alias path="spring.mail.username" value="%4"/>
  <alias path="spring.mail" value="%5"/>
  <alias path="bezkoder.app" value="%6"/>
  <alias
   path="/spring-boot-login-example/src/main/java/com/bezkoder/spring/login/security/jwt/JwtUtils.java" value="%3"/>
  <alias path="bezkoder" value="%7"/>
  <alias path="bezkoder.app.jwtSecret" value="%8"/>
 </aliases>
 <includes/>
 <uris/>
</kb-project>
